{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl  text-center text-indigo-600 mb-6">Upload Image</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-indigo-600 text-white py-3 px-4 rounded-md ">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
