{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl  text-center text-indigo-600 mb-6">Login</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-indigo-600 text-white py-3 px-4">Login</button>
        </form>
        <p class=" text-center mt-4">Don't have an account? <a href="{% url 'register' %}" class="text-blue-600">Register</a></p>
    </div>
</div>
{% endblock %}
